

<div class="box">
    <div class="up_block2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_url 'sex.jpg'%>');"></div>
  <div class="show_description">
    <h2> Recette cocktail : <%= @cocktail.name %></h2>
    <% @cocktail.doses.each do |dose| %>
       <li>
       <%= dose.ingredient.name %> : <%= dose.description %>
         <%= link_to " ", dose_path(dose),
             method: :delete,
             data: { confirm: "Are you sure?" }, class:"glyphicon glyphicon-trash" %>
       </li>
       <% end %>
  </div>
</div>















  <%= link_to "revenir aux cocktails", cocktails_path, class: "btn btn-primary" %>
  <%= link_to "ajouter une dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>

</div>
